doctype html
div#bg
  h1#welc Welcome!
  div#me
    h1 My name is Alex Bergeron
    div#desc
      p I have just finished with my Junior year at University of Massachusetts in Amherst. I am aspiring to obtain my B.S. in Computer Science, with a minor in Mathematics
