doctype html
html
  link(rel='stylesheet', type='text/css', href='./styles/styles.css')
  .navbar
    header
      h1  Alex Bergeron 
    form.nav(action='/')
      input.nav(type='submit', value='Home')
    form.nav(href='./views/aboutMe')
      input.nav(type='submit', value='About Me')
  .main
    body.main
      p  This 
      br
      p    is 
      br
      p    just 
      br
      p    a 
      br
      p    long 
      br
      p    para 
      br
      p    graph 
      br
      p    to 
      br
      p    test 
      br
      p    the 
      br
      p    position 
      br
      p    of 
      br
      p    the 
      br
      p    navbar 
      br
