doctype html
html
  link(rel='stylesheet', type='text/css', href='./styles/styles.css')
  title Alex Bergeron
  .main
    div#nav
      script(src="https://code.jquery.com/jquery-latest.js")
      script(src="./scripts/nav.js")
      h1 AB
      form.nav(action='/')
        input.nav(type='submit', value='Home')
      form.nav(action='/')
        input.nav(type='submit', value='About Me')
    div#bg
      script(src="./scripts/parallax.js")
      h1 Welcome!
      div#me
        script(src="./scripts/parallax.js")
        h1 My name is Alex Bergeron
        div#desc
          script(src="./scripts/parallax.js")
          p I have just finished with my Junior year at University of Massachusetts in Amherst. I am aspiring to obtain my B.S. in Computer Science, with a minor in Mathematics
